<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改')"/>
</head>
<body>
<form class="layui-form" action="">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">

                <div class="layui-form-item layui-hide">
                    <label class="layui-form-label">编号</label>
                    <div class="layui-input-block">
                        <input type="text" th:value="${doctorResource.id}" name="id" id="id"
                               autocomplete="off" placeholder="请输入id" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block">
                        <input type="text" id="username" name="username" th:value="${doctorResource.username}"  autocomplete="off" placeholder="请输入姓名"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">职位</label>
                    <div class="layui-input-block">
                        <input type="text" id="job" name="job" th:value="${doctorResource.job}"  autocomplete="off" placeholder="请输入职位"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">学位</label>
                    <div class="layui-input-block">
                        <input type="text" id="degree" name="degree" th:value="${doctorResource.degree}"  autocomplete="off" placeholder="请输入学位"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">毕业学校</label>
                    <div class="layui-input-block">
                        <input type="text" id="school" name="school" th:value="${doctorResource.school}"  autocomplete="off" placeholder="请输入毕业学校"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">所在诊所</label>
                    <div class="layui-input-block">
                        <input type="text" id="clinic" name="clinic" th:value="${doctorResource.clinic}"  autocomplete="off" placeholder="请输入所在诊所"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">出诊时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="visitTime" name="visitTime" th:value="${doctorResource.visitTime}"  autocomplete="off" placeholder="请输入出诊时间"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">头像</label>
                    <div class="layui-input-block">
                        <input type="text" id="pic" name="pic" th:value="${doctorResource.pic}"  autocomplete="off" placeholder="请输入头像"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">擅长</label>
                    <div class="layui-input-block">
                        <input type="text" id="good" name="good" th:value="${doctorResource.good}"  autocomplete="off" placeholder="请输入擅长"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">年龄</label>
                    <div class="layui-input-block">
                        <input type="text" id="age" name="age" th:value="${doctorResource.age}"  autocomplete="off" placeholder="请输入年龄"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">资历</label>
                    <div class="layui-input-block">
                        <input type="text" id="seniority" name="seniority" th:value="${doctorResource.seniority}"  autocomplete="off" placeholder="请输入资历"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">医院经历</label>
                    <div class="layui-input-block">
                        <input type="text" id="clinicSeniority" name="clinicSeniority" th:value="${doctorResource.clinicSeniority}"  autocomplete="off" placeholder="请输入医院经历"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">更多</label>
                    <div class="layui-input-block">
                        <input type="text" id="outher" name="outher" th:value="${doctorResource.outher}"  autocomplete="off" placeholder="请输入更多"
                               class="layui-input">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="" lay-filter="doctorResource-update">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<th:block th:include="include :: footer"/>
<script>
    layui.use(['form', 'jquery','laydate'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        var laydate = layui.laydate;
        // 日期选择
        laydate.render({
            elem: '#birthday' //指定元素
        });

        form.on('submit(doctorResource-update)', function (data) {
            $.ajax({
                url: '/cms/doctorresource/update',
                data: JSON.stringify(data.field),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    if (result.success) {
                        layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
                            parent.layui.table.reload("doctorResource-table");
                        });
                    } else {
                        layer.msg(result.msg, {icon: 2, time: 1000});
                    }
                }
            })
            return false;
        });
    })
</script>
<script>
</script>
</body>
</html>