<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="include :: header('列表')"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="username" placeholder="" class="layui-input">
            </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="doctorResource-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="doctorResource-table" lay-filter="doctorResource-table"></table>
    </div>
</div>
</body>

<script type="text/html" id="doctorResource-toolbar">
    <button sec:authorize="hasPermission('/cms/doctorresource/add','cms:doctorresource:add')" class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
    <button sec:authorize="hasPermission('/cms/doctorresource/remove','cms:doctorresource:remove')" class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
        <i class="layui-icon layui-icon-delete"></i>
        删除
    </button>
</script>

<script type="text/html" id="doctorResource-bar">
    <button sec:authorize="hasPermission('/cms/doctorresource/edit','cms:doctorresource:edit')" class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>
    </button>
    <button sec:authorize="hasPermission('/cms/doctorresource/edit','cms:doctorresource:edit')" class="pear-btn pear-btn-warming pear-btn-sm" lay-event="power"><i class="layui-icon layui-icon-vercode"></i>
    </button>
    <button sec:authorize="hasPermission('/cms/doctorresource/remove','cms:doctorresource:remove')" class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i>
    </button>
</script>

<script type="text/html" id="file-img">
    <img src="/system/file/download/{{d.pic}}"/>
</script>


<th:block th:include="include :: footer"/>
<script>
    layui.use(['table', 'form', 'jquery'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;

        let MODULE_PATH = "/cms/doctorresource/";

        let cols = [
            [
                {type: 'checkbox'},
                {field: 'username', title: '姓名'},
                {field: 'clinicName', title: '所在诊所'},
                {field: 'job', title: '职位'},
                {field: 'degree', title: '学位'},
                {field: 'school', title: '毕业学校'},
                {field: 'clinic', title: '所在诊所'},
                {field: 'visitTime', title: '出诊时间'},
                {field: 'pic', title: '头像',templet: "#file-img"},
                {field: 'good', title: '擅长'},
                {field: 'age', title: '年龄'},
                {field: 'seniority', title: '资历'},
                {field: 'clinicSeniority', title: '医院经历'},
                {field: 'outher', title: '更多'},
                {title: '操作', toolbar: '#doctorResource-bar', align: 'center', width: 150}
            ]
        ]

        table.render({
            elem: '#doctorResource-table',
            url: MODULE_PATH + 'data',
            page: true,
            cols: cols,
            skin: 'line',
            toolbar: '#doctorResource-toolbar',
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports']
        });

        table.on('tool(doctorResource-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            } else if (obj.event === 'power') {
                window.power(obj);
            }
        });

        table.on('toolbar(doctorResource-table)', function (obj) {
            if (obj.event === 'add') {
                window.add();
            } else if (obj.event === 'refresh') {
                window.refresh();
            } else if (obj.event === 'batchRemove') {
                window.batchRemove(obj);
            }
        });

        form.on('submit(doctorResource-query)', function (data) {
            table.reload('doctorResource-table', {where: data.field})
            return false;
        });


        window.add = function () {
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                area: ['700px', '500px'],
                content: MODULE_PATH + 'add'
            });
        }


        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '修改',
                shade: 0.1,
                area: ['500px', '500px'],
                content: MODULE_PATH + 'edit?id=' + obj.data['id']
            });
        }

        window.power = function (obj) {
            layer.open({
                type: 2,
                title: '证书列表',
                shade: 0.1,
                area: ['700px', '600px'],
                content: '/cms/doctorcertificate/main?id=' + obj.data['id']
            });
        }

        window.remove = function (obj) {
            layer.confirm('确定要删除这些用户', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "remove/" + obj.data['id'],
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.success) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                obj.del();
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            });
        }

        window.batchRemove = function (obj) {
            let data = table.checkStatus(obj.config.id).data;
            if (data.length === 0) {
                layer.msg("未选中数据", {icon: 3, time: 1000});
                return false;
            }
            let ids = "";
            for (let i = 0; i < data.length; i++) {
                ids += data[i].id + ",";
            }
            ids = ids.substr(0, ids.length - 1);
            layer.confirm('确定要删除这些用户', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "batchRemove/" + ids,
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.success) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                table.reload('doctorResource-table');
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            });
        }

        window.refresh = function () {
            table.reload('doctorResource-table');
        }
    })
</script>
</html>