<!-- 通用CSS -->
<head th:fragment="header(title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/component/pear/css/pear.css}">
</head>

<!-- 通用JS -->
<div th:fragment="footer">
    <script th:src="@{/component/layui/layui.js}"></script>
    <script th:src="@{/component/pear/pear.js}"></script>
    <script th:src="@{/component/jquery.min.js}"></script>
    <script th:src="@{/component/myCommon.js}" charset="utf-8"></script>
</div>

<ss th:fragment="headhtml(title)">
    <meta charset="utf-8">
    <meta name="author" content="lwb">
    <meta name="keywords" content="卫华口腔,口腔,正畸,种植,牙套,牙齿矫正,牙齿种植,拔智齿,窝沟封闭,涂氟,口腔保健,口腔预防,高端诊所,看牙好,洗牙">
    <meta name="description" content="卫华口腔,口腔,正畸,种植,牙套,牙齿矫正,牙齿种植,拔智齿,窝沟封闭,涂氟,口腔保健,口腔预防,高端诊所,看牙好,洗牙">
    <title th:text="${title}">首页 - 卫华口腔</title>

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1,user-scalable=0"
          name="viewport">
    <script>if (/*@cc_on!@*/false && document.documentMode === 10) document.documentElement.className += ' ie10';</script>
    <script>if (/*@cc_on!@*/false && document.documentMode === 11) document.documentElement.className += ' ie11';</script>

    <link th:href="@{/static/css/common.css}" rel="stylesheet">
    <link th:href="@{/static/css/style.css}" rel="stylesheet">
    <script>
        var ROOT = "";
    </script>
    <script th:src="@{/static/js/jquery-1.9.1.min.js}"></script>
    <script th:src= "@{/static/js/ratio-img.js}"></script>
    <script th:src="@{/static/js/placeholder.js}"></script>
    <script th:src="@{/static/js/public.js}"></script>
    <script th:src="@{/static/js/layer.js}"></script>
    <script th:src="@{/static/js/laypage.js}"></script>
    <!--[if lt IE 9]>
    <script th:src="@{//js/respond.src.js}"></script>
    <script th:src="@{//js/html5.js}"></script>
    <script th:src="@{//js/jquery.pseudo.js}"></script>
    <![endif]-->
    <!--页面内容部调用-->
    <!--页面内容部调用-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/swiper2.css}">
    <script th:src="@{/static/js/swiper2.js}"></script>
    <script th:src="@{/static/js/swiper_list2.js}"></script>


</ss>

<sss th:fragment="headerhtml(onIndex)" class="header" >
    <div class="wrap cf">
        <a class="logo" href="index.html"><img src="static/picture/index_logo.png"></a>
        <div class="oh menu f-16">
            <ul class="cf topmenuclass">
                <li class="first"><a href="index.html">中文</a> <i>/</i> <a href="javascript:;">English</a></li>
                <li th:classappend="${onIndex == 1} ? 'on' : ''"><a href="index.html">首页</a></li>
                <li th:classappend="${onIndex == 2} ? 'on' : ''"><a href="doctor.html">医疗和技术委员会</a></li>
                <li th:classappend="${onIndex == 3} ? 'on' : ''"><a href="resources.html">医生资源</a></li>
                <li th:classappend="${onIndex == 4} ? 'on' : ''"><a th:href="@{//html/clinic}">寻找诊所</a></li>
                <li th:classappend="${onIndex == 5} ? 'on' : ''"><a href="">牙病科普</a></li>
                <li th:classappend="${onIndex == 6} ? 'on' : ''"><a href="about.html">关于品牌</a></li>
                <li th:classappend="${onIndex == 7} ? 'on' : ''"><a href="campaign.html">消费者活动</a></li>
            </ul>
        </div>
        <div class="lang f-12" style="display:block;"><a href="index.html" class="on">中文</a> <i>/</i> <a
                href="index2.html">English</a></div>
        <a href="index1.html" class="member"><img src="static/picture/hy.png"></a>

        <div class="menu-bon">
            <button class="menu_h"><span>Menu</span></button>
        </div>
        <div class="ph-mask"></div>

    </div>
    <div class="icon-btn f-12">
        <a href="javascript:;" style="background-image: url(static/image/icon_kefu.png);">预约</a>
        <a href="message.html" style="background-image: url(static/image/icon_emill.png);">留言</a>
        <a href="javascript:;" target="_black"
           style="background-image: url(static/image/icon_jituan.png);">瑞尔集团</a>
    </div>
</sss>


<ssss th:fragment="footerhtml">
    <div class="wrap cf">
        <div class="fl">
            <div class="a"><a href="logon-httpsmail.arrail-dental.co.html" target="_blank">企业邮箱</a><i></i><a href="about.html">品牌介绍</a><i></i><a href="contact.html">联系瑞尔</a></div>
            <p><span>北京圣彬科贸有限公司 版权所有</span>   <span>京ICP备14011462号-1号</span>  <span>京卫计网审【2014】第0214号</span></p>
        </div>
        <div class="oh">
            <a href="javascript:;" class="a-wx t-weixin-bon" data-img="http://arrail-dental.chinacloudsites.cn/Public/Upload/image/20170420/1492666791a5cb5de1212fc8c6.png"></a>
            <a href="javascript:;" target="_blank" class="a-wb"></a>
        </div>
    </div>
</ssss>
