
/* reset */
html { font-size:  62.5%;}
html.lt9 { font-size:100%;}
body { min-height: 100%; background:#fff; }
body { _height: 100% }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, input, select, textarea, button, p, blockquote, th, td, figure { margin: 0; padding: 0 }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, p, blockquote, figure, header, footer, nav, article, section, aside, address, figcaption { *zoom: 1 }
li { list-style-type: none }
iframe, frame, fieldset, img { border: 0 none }
img { vertical-align: top }
input[type=button], input[type=submit], input[type=reset] { cursor: pointer }
button { cursor: pointer }
input, textarea, button { -webkit-border-radius: 0; -webkit-appearance: none;  background:#fff;  }
input[type=radio] { -webkit-border-radius: 100%; -webkit-appearance: radio }
input[type=checkbox] { -webkit-appearance: checkbox }
input[type=search] { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box }
textarea { overflow: auto; resize: none; background:#fff;}
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none }
table { border-collapse: collapse; border-spacing: 0 }
caption, th { text-align: left }
th { font-weight: normal }
em, cite, address,i { font-style: normal }
*:focus {outline: none;}
/*
@font-face {
	font-family: 'NotoSansHans';
	src: url('../font/NotoSansHans-DemiLight.eot'); 
	src: url('../font/NotoSansHans-DemiLight.eot?#iefix') format('embedded-opentype'), 
      url('../font/SourceHanSansK-Normal.woff') format('woff'),
      url('../font/SourceHanSansK-Normal.ttf')  format('truetype'), 
      url('../font/SourceHanSansK-Normal.svg#SourceHanSansK-Normal') format('svg'); 
   }
*/
body, input, select, button, textarea {color:#474747; font-size: 14px; font-family:"Microsoft Yahei",arial,"\5b8b\4f53",Tahoma,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;  }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-size: 14px;  font-weight:normal;  }
body { line-height: 1.5 }
a:link,
a:visited,
a:active,
a { text-decoration: none; color:#474747; }
		a:hover { color:#257db5;}

.song { font-family:"\5b8b\4f53";  }

.edit_con_original{ line-height:1.8; font-size:14px;  padding:0 0; color:#333; text-align:justify;}
.edit_con_original ul{ margin:initial; padding:initial; padding-left:1.5em;}
.edit_con_original ul li { list-style-type:disc; margin:auto; padding:initial}
.edit_con_original ol{ margin:initial; padding:initial; padding-left:1.5em;}
.edit_con_original ol li { list-style-type:decimal; margin:auto; padding:initial}
.edit_con_original h1 { font-size: 2em; font-weight:bold }
.edit_con_original h2 { font-size: 1.5em; font-weight:bold }
.edit_con_original h3 { font-size: 1.17em; font-weight:bold }
.edit_con_original h4 { font-size: 1em; font-weight:bold }
.edit_con_original h5 { font-size: 0.83em; font-weight:bold }
.edit_con_original h6 { font-size: 0.67em; font-weight:bold }
.edit_con_original em { font-style: italic }
.edit_con_original cite{ font-style: italic }
.edit_con_original address{ font-style: italic }
.edit_con_original i { font-style: italic }
.edit_con_original table{ border-collapse: collapse;
    border-spacing: 0; width:100% !important; border-radius:5px; overflow:hidden; border:1px solid #f0f0f0 !important; display:block; margin-bottom:10px; }
    .edit_con_original table td { padding:0.5em; border:0 !important; }
    .edit_con_original table tr { border-bottom:1px solid #f0f0f0;}
.edit_con_original img{ max-width:100%; height:auto; overflow:hidden; }
.edit_con_original p { margin-bottom:0.5em;}
/*所有后台编辑器区域都要引用 edit_con_original 类名*/

/* clear 页头，页脚，内容区都不用再加清除样式 */
.cf:before{ content: ''; display: table }
.cf:after{ content: ''; display: table; clear: both }
.cf { *zoom: 1 }
.clear, .cl { display: block!important; float: none!important; clear: both; width: auto!important; max-width: none!important; min-width: 0!important; max-height: none!important; min-height: 0!important; overflow: hidden; margin: 0!important; padding: 0!important; border: 0 none!important; font-size: 0!important; line-height: 0!important }

/*公用样式end*/
.auto-img { position: relative; overflow: hidden; display:block; }
.auto-img img { position: relative; }
.auto-bg { background-repeat:no-repeat; overflow:hidden; position:relative; background-position:center;
background-size:cover; 
}
.ratio-img{ width:100%; height:auto;  display:block; }
.ratio-img-bg { background: url('../image/error.png') no-repeat center; }

.scaleimg { overflow:hidden; display:block;}
.scaleimg img { transform:scale(1,1); -webkit-transform:scale(1,1); transition:0.5s all; -webkit-transition:0.5s all;}
.scaleimg:hover img{ transform:scale(1.1,1.1) rotate(-1deg); -webkit-transform:scale(1.1,1.1) rotate(-1deg);}

a,
a:active,
a:focus,
input:focus,
a:hover,
a.music-toggle-btn:active,
a.music-toggle-btn:focus,
input:focus,
a.music-toggle-btn:hover,
img,
img:active,
img:focus,
li:active,
li:focus,
li:focus,
div,
div:active,
div:focus,
div:hover,
select,
select:focus,
select:active,
select:hover,
button,
button:active,
button:focus,
button:hover { -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-user-modify: read-write-plainteeet-only; outline: none; -webkit-tap-highlight-color: transparent; }

/*低版本浏览器检测弹窗*/
.browser-old { position:fixed; z-index:100000000; background:rgba(0,0,0,0.5); width:100%; left:0; top:0; height:100%; display:none;}
.browser-old {filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#88000000", EndColorStr="#88000000") }
.browser-old .box{ width:480px; height:360px; border:10px solid #333; background:#f8f8f8; padding:20px; margin:-210px 0 0 -270px; position:absolute; left:50%; top:50%;}
.browser-old .box .i { background:#fff; border:5px solid #b30009; color:#b30009; font-size:30px; font-weight:bold; width:40px; display:inline-block; margin-right:20px; text-align:center;}
.browser-old .box h3 { font-size:30px; }
.browser-old .box h3 em { color:#b30009; font-size:38px; display:inline-block; margin:0 10px;}
.browser-old .box p { padding:20px 0 30px; font-size:18px;}
.browser-old .box h4 { margin-top:30px; text-align:right;}
.browser-old .box dt { color:#2d739c; font-size:16px; margin-bottom:10px; }
.browser-old .box dd a { display:block; float:left; width:20%; text-align:center; color:#999;}
.browser-old .box dd a .icon.google { background-position:0px 0px; }
.browser-old .box dd a .icon.firefox { background-position:-98px 0px; }
.browser-old .box dd a .icon.ie { background-position:-204px 0px; }
.browser-old .box dd a .icon.safari { background-position:-310px 0px; }
.browser-old .box dd a .icon.opera { background-position:-410px 0px; }
.browser-old .box h4 a { color:#999;}
/*end*/

.bk { display:block;}
.fl { float:left; }
.fr { float:right;}
.oh { overflow:hidden;}
.center { text-align:center;}
.f-left { text-align:left;}
.f-right { text-align:right;}

.bank5 { height: 5px; display:block;}
.bank10 { height: 10px; display:block; }
.bank15 { height: 15px; display:block; }
.bank20 { height: 20px; display:block; }
.bank30 { height: 30px; display:block; }
.bank40 { height: 40px; display:block; }
.bank50 { height: 50px;  display:block;}
.bank60 { height: 60px;  display:block;}

body .bon-blank,
body .bon-blank2,
body .bon-blue,
body .bon-black,
body .bon-red,
body .bon-orange,
body .bon-orange2,
body .bon-gray { background:#ff9500; border:1px solid #ff9500; color:#fff; border-radius:5px; padding:0 1em; line-height:2.2; color:#fff; text-align:center; display:inline-block; min-width:8em; box-shadow:3px 3px 5px rgba(0,0,0,0.2); font-size:16px; }

body .bon-blue { background:#388ecd ; border:1px solid #388ecd;}
body .bon-black { background:#646464; border:1px solid #646464;}
body .bon-orange { background:#ed7118; border:1px solid #ed7118;}
body .bon-orange2 { background:#ff9500; border:1px solid #ff9500;}
body .bon-red { background:#e92c2c; border:1px solid #e92c2c;}
body .bon-blank { background:none; color:#333; border:1px solid #ddd;}
body .bon-blank2 { background:none; border:1px solid #ddd;  color:#333;}
body .bon-gray { background:#999; border:1px solid #999;}

body .bon-blue:hover { background:#53a7e4 ; border:1px solid #53a7e4;}
body .bon-black:hover { background:#646464; border:1px solid #646464;}
body .bon-orange:hover { background:#f48f47; border:1px solid #f48f47;}
body .bon-orange2:hover { background:#ff9500; border:1px solid #ff9500;}
body .bon-red:hover { background:#e92c2c; border:1px solid #e92c2c;}
body .bon-blank:hover { background:#388ecd; border:1px solid #388ecd;  color:#fff;}
body .bon-blank2:hover { background:none; border:1px solid #ddd;  color:#333;}
body .bon-gray:hover { background:#999; border:1px solid #999;}

body .white { color:#fff;}
body .red { color:#e92c2c;}
body .orange { color:#f6903e;}
body .blue { color:#008cd6; }
body .black {color:#000; }
body .caaa {color:#aaa; }
body .c666 {color:#666; }
body .c333 {color:#333; }
body .c555 { color: #555; }
body .c-333 {color:#333; }
body .green { color:#22ac38}

body .text-d { text-decoration:underline;}
.text-d { text-decoration:underline;}

.bg-000 { background:#000;}
.bg-333 { background:#333;}
.bg-f3 { background:#f3f3f3;}
.bg-fff { background:#fff;}

body .bon-blank.disabled,
body .bon-blue.disabled,
body .bon-black.disabled,
body .bon-red.disabled,
body .bon-orange.disabled { opacity:0.6; filter:alpha(opacity=60); cursor:no-drop;}

body .bon-blank img,
body .bon-blue img,
body .bon-black img,
body .bon-red img,
body .bon-orange img { vertical-align:middle; position:relative; top:-2px;}

.f-12{  font-size:12px;}
.f-12 { font-size:12px;  }
.f-14 { font-size:14px; }
.f-16 { font-size:16px; }
.f-18 { font-size:18px; }
.f-20 { font-size:20px; }
.f-22 { font-size:22px; }
.f-24 { font-size:24px; }
.f-26 { font-size:26px; }
.f-28 { font-size:28px; }
.f-30 { font-size:30px; }
.f-32 { font-size:32px; }
.f-34 { font-size:34px; }
.f-35 { font-size:35px; }
.f-36 { font-size:36px; }
.f-38 { font-size:38px; }
.f-40 { font-size:40px; }
.f-50 { font-size:50px; }
.f-60 { font-size:60px; }
.f-72 { font-size:72px; }
.f-80 { font-size:80px; }
.f-102 { font-size:102px; }
.f-110 { font-size: 110px; }

.h1,h1 { font-size: 36px; }
.h2,h2 { font-size: 30px; }
.h3,h3 { font-size: 24px; }
.h4,h4 { font-size: 18px; }
.h5,h5 { font-size: 14px; }
.h6,h6 { font-size: 12px; }

.uppercase{text-transform:uppercase; }

.ellipsis{ text-overflow:ellipsis; white-space:nowrap; overflow:hidden;  }
.ellipsis-2 {  overflow:hidden;  height:3em; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.ellipsis-3 {  overflow:hidden;  height:4.5em; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}
.ellipsis-4 {  overflow:hidden;  height:6em; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;}
.ellipsis-5 {  overflow:hidden;  height:7.5em; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical;}
.ellipsis-6 {  overflow:hidden;  height:9em; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;}

.line-000 { height:1px; background:#000; }
.line-333 { height:1px; background:#333; }
.line-666 { height:1px; background:#666; }
.line-999 { height:1px; background:#999; }
.line-aaa { height:1px; background:#aaa; }
.line-ccc { height:1px; background:#ccc; }
.line-ddd { height:1px; background:#ddd; }
.line-eee { height:1px; background:#eee; }
.line-fff { height:1px; background:#fff; }

.line-15 { line-height:15px; }
.line-20 { line-height:20px; }
.line-25 { line-height:25px; }
.line-30 { line-height:30px; }
.line-35 { line-height:35px; }
.line-40 { line-height:40px; }
.line-45 { line-height:45px; }
.line-50 { line-height:50px; }

.pad-1 { padding:1px;}
.pad-2 { padding:2px;}
.pad-3 { padding:3px;}
.pad-4 { padding:4px;}
.pad-5 { padding:5px;}
.pad-6 { padding:6px;}
.pad-7 { padding:7px;}
.pad-8 { padding:8px;}
.pad-9 { padding:9px;}
.pad-10 { padding:10px;}
.pad-15 { padding:15px;}
.pad-20 { padding:20px;}
.pad-30 { padding:30px;}
.pad-40 { padding:40px;}
.pad-50 { padding:50px;}
.pad-b-5 { padding-bottom:5px;}
.pad-b-10 { padding-bottom:10px;}
.pad-b-15 { padding-bottom:15px;}
.pad-b-20 { padding-bottom:20px;}
.pad-b-30 { padding-bottom:30px;}
.pad-b-40 { padding-bottom:40px;}
.pad-b-50 { padding-bottom:50px;}
.pad-t-5 { padding-top:5px;}
.pad-t-10 { padding-top:10px;}
.pad-t-15 { padding-top:15px;}
.pad-t-20 { padding-top:20px;}
.pad-t-30 { padding-top:30px;}
.pad-t-40 { padding-top:40px;}
.pad-t-50 { padding-top:50px;}
.pad-r-5 { padding-right:5px;}
.pad-r-10 { padding-right:10px;}
.pad-r-15 { padding-right:15px;}
.pad-r-20 { padding-right:20px;}
.pad-r-30 { padding-right:30px;}
.pad-r-40 { padding-right:40px;}
.pad-r-50 { padding-right:50px;}
.pad-l-5 { padding-left:5px;}
.pad-l-10 { padding-left:10px;}
.pad-l-15 { padding-left:15px;}
.pad-l-20 { padding-left:20px;}
.pad-l-30 { padding-left:30px;}
.pad-l-40 { padding-left:40px;}
.pad-l-50 { padding-left:50px;}

.mag-5 { margin:5px;}
.mag-10 { margin:10px;}
.mag-15 { margin:15px;}
.mag-20 { margin:20px;}
.mag-30 { margin:30px;}
.mag-40 { margin:40px;}
.mag-50 { margin:50px;}
.mag-b-5 { margin-bottom:5px;}
.mag-b-10 { margin-bottom:10px;}
.mag-b-15 { margin-bottom:15px;}
.mag-b-20 { margin-bottom:20px;}
.mag-b-30 { margin-bottom:30px;}
.mag-b-40 { margin-bottom:40px;}
.mag-b-50 { margin-bottom:50px;}
.mag-t-5 { margin-top:5px;}
.mag-t-10 { margin-top:10px;}
.mag-t-15 { margin-top:15px;}
.mag-t-20 { margin-top:20px;}
.mag-t-30 { margin-top:30px;}
.mag-t-40 { margin-top:40px;}
.mag-t-50 { margin-top:50px;}
.mag-r-5 { margin-right:5px;}
.mag-r-10 { margin-right:10px;}
.mag-r-15 { margin-right:15px;}
.mag-r-20 { margin-right:20px;}
.mag-r-30 { margin-right:30px;}
.mag-r-40 { margin-right:40px;}
.mag-r-50 { margin-right:50px;}
.mag-l-5 { margin-left:5px;}
.mag-l-10 { margin-left:10px;}
.mag-l-15 { margin-left:15px;}
.mag-l-20 { margin-left:20px;}
.mag-l-30 { margin-left:30px;}
.mag-l-40 { margin-left:40px;}
.mag-l-50 { margin-left:50px;}

.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 { float: left; *margin-left:-1px; }
.col-sm-12 { width: 100%; }
.col-sm-11 { width: 91.66666667%; }
.col-sm-10 { width: 83.33333333%; }
.col-sm-9 { width: 75%; }
.col-sm-8 { width: 66.66666667%; }
.col-sm-7 { width: 58.33333333%; }
.col-sm-6 { width: 50%; }
.col-sm-5 { width: 41.66666667%; }
.col-sm-4 { width: 33.33333333%; }
.col-sm-3 { width: 25%; }
.col-sm-2 { width: 16.66666667%; }
.col-sm-1 { width: 8.33333333%; }

/*分页*/
.page { padding:40px 0; text-align:center; line-height:28px; font-size:0;}
.page a { display:inline-block; min-width:2em; text-align:center; min-height:28px; vertical-align:top; font-size:16px; margin:0 5px; border:1px solid #ddd; border-radius:2px; }
.page a:hover,
.page a.laypage_curr { color:#00aced;}

.page a.laypage_last,
.page a.laypage_first { display:none; }
.page span { min-width:1.6em; text-align:center; font-size:16px; margin:0 5px;}
.page .laypage_total { margin-left:3em;}
.page .laypage_total .laypage_skip { width:2em; text-align:center; height:28px; border:1px solid #ddd; background:#fff; margin:0 5px;}
.page .laypage_total .laypage_btn { width:5em; text-align:center; height:30px; background:#fff; border:1px solid #ddd; border-radius:15px; margin-left:10px; }

/*模拟checkbox*/
.label-checkbox { position:relative;  cursor:pointer; display:inline-block; vertical-align:middle;  overflow:hidden; padding-left:25px; margin-right:1em; }
.label-checkbox i {background:url(../image/checkbox.png) 0 top no-repeat; position:absolute; left:0; top:50%; margin-top:-10px; width:20px; height:20px;}
.label-checkbox.on i { background-position:0 bottom; }
.label-checkbox input { opacity:0; filter:alpha(opacity=0); position:absolute; left:-100px;}

/*模拟radio*/
.label-radio { position:relative;  cursor:pointer; display:inline-block;  overflow:hidden; padding-left:25px; margin-right:1em; vertical-align: top;}
.label-radio i {background:url(../image/radio.png) 0 top no-repeat; position:absolute; left:0; top:50%; margin-top:-10px; width:20px; height:20px;}
.label-radio.on i { background-position:0 bottom; }
.label-radio input { opacity:0; filter:alpha(opacity=0); position:absolute; left:-100px;}

.f-bold { font-weight: bold; }
.t-weixin{ position:fixed; width:300px; height:280px; z-index:100000; left:50%; top:50%; margin:-120px 0 0 -150px; background:#fff; border:1px solid #ddd; border-radius:5px; box-shadow:1px 1px 20px rgba(0,0,0,0.3);}
.t-weixin .c{ position:absolute; width:30px; height:30px; background:url(../image/x1.png); overflow:hidden; text-indent:100px; right:5px; top:5px; font-size:20px; font-style:normal; text-align:center; cursor:pointer; z-index:2;}
.t-weixin h2{ position:relative; line-height:40px; font-size:16px; padding-left:10px; font-weight:normal;}
.t-weixin .img{ padding:10px 0 10px; text-align:center; border-top:1px solid #ddd;}
.t-weixin p {  margin:0 1.5%; text-align:center;  }
.t-weixin .img img{ width:180px; height:180px; display:block; margin:0 auto 10px; }



@media only screen and (max-width: 1280px) {
    body, input, select, button, textarea { font-size:12px;}

.f-12 { font-size:12px;  }
.f-14 { font-size:13px; }
.f-16 { font-size:14px; }
.f-18 { font-size:15px; }
.f-20 { font-size:16px; }
.f-22 { font-size:18px; }
.f-24 { font-size:20px; }
.f-26 { font-size:22px; }
.f-28 { font-size:24px; }
.f-30 { font-size:25px; }
.f-32 { font-size:26px; }
.f-34 { font-size:27px; }
.f-35 { font-size:28px; }
.f-36 { font-size:30px; }
.f-38 { font-size:32px; }
.f-40 { font-size:36px; }
.f-50 { font-size:38px; }
.f-60 { font-size:45px; }
.f-72 { font-size:50px; }
.f-80 { font-size:60px; }
.f-102 { font-size:80px; }
.f-110 { font-size: 100px; }

.h1,h1 { font-size: 30px; }
.h2,h2 { font-size: 24px; }
.h3,h3 { font-size: 20px; }
.h4,h4 { font-size: 16px; }
.h5,h5 { font-size: 13px; }
.h6,h6 { font-size: 12px; }

}


@media only screen and (max-width: 1010px) {
        html { font-size:100px;}
    body, input, select, button, textarea { font-size:0.22rem;}
    .f-12 { font-size:0.22rem; }
    .f-14 { font-size:0.24rem; }
    .f-16 { font-size:0.28rem; }
    .f-18 { font-size:0.30rem; }
    .f-20 { font-size:0.32rem; }
    .f-22 { font-size:0.34rem; }
    .f-24 { font-size:0.36rem; }
    .f-26 { font-size:0.38rem; }
    .f-28 { font-size:0.40rem; }
    .f-30 { font-size:0.44rem; }
    .f-32 { font-size:0.48rem; }
    .f-34 { font-size:0.50rem; }
    .f-35 { font-size:0.55rem; }
    .f-36 { font-size:0.60rem; }
    .f-38 { font-size:0.64rem; }
    .f-40 { font-size:0.70rem; }
    .f-50 { font-size:0.80rem; }
    .f-60 { font-size:0.90rem; }
    .f-72 { font-size:1.14rem; }
    .f-80 { font-size:1.30rem; }
    .f-102 { font-size:1.54rem; }
    .f-110 { font-size: 1.60rem; }

}
@media only screen and (max-width: 650px) {html { font-size:86.6667px;}}
@media only screen and (max-width: 550px) {html { font-size:73.3333px;}}
@media only screen and (max-width: 450px) {html { font-size:60px;}}
@media only screen and (max-width: 414px) {html { font-size:55.2px;}}
@media only screen and (max-width: 400px) {html { font-size:53.3333px;}}
@media only screen and (max-width: 380px) {html { font-size:50.6667px;}}
@media only screen and (max-width: 375px) {html { font-size:50px;}}
@media only screen and (max-width: 360px) {html { font-size:48px;}}
@media only screen and (max-width: 340px) {html { font-size:45.3333px;}}
@media only screen and (max-width: 320px) {html { font-size:42.6667px;}}